html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    background-color: whitesmoke;
}

section 
{
 min-height: 100%;
}

a 
{
 text-decoration: none;
}

li 
{
 list-style-type: none;
}

/*h1*/ h2, h3, a {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: lightgray;/*#000000*/
  text-transform: uppercase;
}

h2 {
  color: #000000;
}

h3{
  font-size: 40px;
  padding-top: 8%;
  margin-bottom: 5px;
}

h4, p {
    font-family: 'Roboto Slab', serif;
    color: #494949;
}
hr {
  width: 30px;
  height: 3px;
  background: #494949;
  border: 0;
  margin: 0 auto 40px auto;
}
#Logo, li, img {transition: all 300ms;-webkit-transition: all 300ms;-moz-transition: all 300ms;-o-transition: all 300ms;}



header {
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  background: #33363b; /*white*/
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  z-index: 1;

}
 #Logo {
   width: 50px;
   float: left;
   margin: 10px 0 0 50px;
 }

 #Logo:hover {
   opacity: 0.5;
 }

 #Logo img {
   width: 100%;
 }

 header nav {
   float: right;
   margin: 10px 50px 0 0;
 }

 header nav ul li {
   float: left;
   margin-right: 25px;
 }

header nav ul li a {
  font-size: 16px;
}

header nav ul li:hover {
  padding-top: 5px;
}


#home {
  background: url(img/Hintergrundbild.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
#home h1 {
  margin: 240px auto 0 auto;
  font-size: 110px;
}
#home h2 {
  margin: 0 auto 0 auto;
  font-size: 25px;
  color: black;
}
#home img {
  width: 32px;
  margin-top: 150px;
  opacity: 0.7;
}
#home img:hover{
    opacity: 1;
    border-radius: 5px;
  }




#about img {
  width: 240px;
  border-radius: 5px;
}
#about img:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#about h4 {
  font-size: 25px;
}

#about p {
  width: 700px;
  margin: 0 auto 0 auto;
}

#Work {
  background-color:#f0f0f0;
}
#Selfmade-Bilder {
  width: 900px;
  margin: 0 auto 0 auto;
}
#Selfmade-Bilder ul {
  padding: 0;
}

#Selfmade-Bilder ul li {
  width: 33.3%;
  float: left;
  margin-bottom: 15px;
}
#Selfmade-Bilder img {
  width: 280px;
  height: 170px;
  border-radius: 5px;
}

#Selfmade-Bilder img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  /*box.shadow: 0 5px 5px rgba(0, 0, 0, 0.3);*/
}

#projects {
    width: 900px;
    margin: 0 auto 0 auto;
}

#projects ul {
        padding: 0;
    }

#projects ul li {
            width: 33.3%;
            float: left;
            margin-bottom: 15px;
        }

#projects img 
{
    width: 280px;
    height: 170px;
    border-radius: 5px;
    }
#projects img:hover 
{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    /*box.shadow: 0 5px 5px rgba(0, 0, 0, 0.3);*/
}



#Social-Media {
  width: 900px;
  height: 100%;
  margin: 0 auto 0 auto
}
#Social-Media ul {
  padding: 0;
}

#Social-Media ul li {
  width: 33.3%;
  float: left;
  margin-bottom: 15px;
}
#Social-Media img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

#Social-Media img:hover {
  opacity: 0.5;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  padding-top: 40px;
  /*box.shadow: 0 5px 5px rgba(0, 0, 0, 0.1);*/
}
#Meine-Familie img {
  border-radius: 5px;
}
